<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">Centro</td>
    <td></td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island</td>
    <td>Helen</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini</td>
    <td>Giovanni</td>
    <td>Italy</td>
  </tr>
</table> 
</body>
</html>